@import url("normalize.css");

body {
  font: normal 18px/1.5 "Montserrat", helvetica, arial, sans-serif;
  background-color: #f7fbfe;
}



#title, nav {
    font-weight: bold;
}
#title {
  font-size: 60px;
}

header#top {
  color: orange;
  overflow:hidden;
  position: relative;
  height: 500px;

}
header#top img {
  position: absolute;
  left: 215px;
  z-index: -1;
  bottom: 150px;
  border-radius: 10px;
  padding-top: 1px;
}


.wrap {
  width: 70%;
  margin: 0 auto;
}

#title-area {
  display:block;
  line-height: 108px;
  height: 108px;
  width: 30%;
  float: left;
}



nav#main-menu {
  line-height: 108px;
  height: 108px;
  float: right;
  width: 65%;
}
nav#main-menu li{
  display: inline;
}
nav#main-menu ul {
  text-transform: uppercase;
  text-align:justify;
}
nav#main-menu ul:after {
  content:'';
  display:inline-block;
  width: 100%;
  height: 0;
}
nav#main-menu a {
  padding: 1em 0;
}

nav a {
  text-decoration: none;
}

#title a,
nav a,
#title a:visited,
nav a:visited
{
  color: brown;
}

#title a:focus,
#title a:hover,
#title a:active,
nav a:focus,
nav a:hover,
nav a:active
{
  color: #b7ecf7;
  text-decoration: none;
}

main.wrap {
  margin-top: -100px;
  background-color: #b7ecf7;
}


section.left {
  float: left;
  width: 62%;
}

aside {
  float: left;
  margin-left: 100px;
  width: 20%;
}

aside ul {
  list-style: none;
  margin-top: -1px;
  margin-left: -30px;
  width: 120px;
}
aside img {
  float: left;
  margin-left: 110px;
  margin-bottom: 20px;
}

nav.page-menu,
article header
{
  background-color: #b7ecf7;
  border-radius: 10px;
  padding-top: 1px;
  box-shadow: 5px 10px #888888;
}

section#resources {
  clear: both;
}

section#resources article {
  border-radius: 10px;
  box-shadow: 5px 10px #888888;
}

section#resources article header {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-bottom: 0px;
  box-shadow: 0px 0px #888888;
}
section#resources section {
  border: 2px solid #b7ecf7;
  margin-top: -18px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
section#resources section p {
  margin-left:10px;
}

article header h3,
article header p
{
  margin-left: 10px;
  margin-top: -1px;
  color: brown;
}

article {
  margin-bottom: 40px;
}

article header h3 {
  font-size: 1.5em;
}

article header p {
  font-style: italic;
  font-size: 17px;
}

p img {
  float: right;
  border-radius: 10px;
  padding-top: 1px;
  margin: 0 10px 10px 10px;
  box-shadow: 5px 10px #888888;
}

footer {
  text-align: center;
  padding-bottom: 50px;
  border-top: 2px solid #ccc;
  clear: both;
}
footer img {
  margin-top: 20px;
}

footer section {
  width: 50%;
  margin: auto;
}

footer address, footer p, footer img {
  margin: 18px 30px;
}

.align {
  float: left;
}

